$highlight: #e23a3b;
$sub-highlight: #df8757;
$neutral: #d5c7bd;
$accent: #498374;
$sub-accent: #7d8b82;

$main-background: $neutral;
$sub-background: lighten($neutral, 5);
$header-background: $sub-highlight;

$main-text: darken($accent, 50);
$sub-text: darken($sub-accent, 20);

$border-main: $accent;
$border-subtle: $sub-accent;
