button,
.button,
[class^="button-"] {
  font-weight: bold;
  background-color: saturate($header-background, 50%);
  text-decoration: none;
  color: $sub-background;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;

  box-sizing: border-box;
  display: inline-block;
  border: 0;
  border-radius: 0.7em;
  padding: 0.5em 0.7em;
  height: max-content;
  width: max-content;
  margin: 0.3em 0.5em;

  &:hover {
    background-color: darken($header-background, 10);
  }
  &:focus {
    background-color: darken($header-background, 15);
    box-shadow: 0 0 0 0.1em inset $sub-text;
  }
}
.button-submitting {
  $btn-col: $sub-accent;
  background-color: $btn-col;
  &:hover {
    background-color: darken($btn-col, 10);
  }
  &:focus {
    background-color: darken($btn-col, 15);
    box-shadow: 0 0 0 0.1em inset saturate($btn-col, 100%);
  }
}
.button-submitted {
  $btn-col: $accent;
  background-color: $btn-col;
  &:hover {
    background-color: darken($btn-col, 10);
  }
  &:focus {
    background-color: darken($btn-col, 15);
    box-shadow: 0 0 0 0.1em inset saturate($btn-col, 100%);
  }
}
.button-error {
  $btn-col: $highlight;
  background-color: $btn-col;
  &:hover {
    background-color: darken($btn-col, 10);
  }
  &:focus {
    background-color: darken($btn-col, 15);
    box-shadow: 0 0 0 0.1em inset saturate($btn-col, 100%);
  }
}

[class$="-page"],
[class*="page "] {
  margin: 1em 5em;
  padding: 1em 3em;
  box-shadow: 0 0 0.5em -0.4em $sub-text;
}

h1 {
  margin-top: 0.2em;
  margin-bottom: 0.7em;
}
