@import "./Colours.scss";

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  height: 3em;
  border-bottom: 1px solid darkslategrey;

  background-color: $header-background;

  > .links {
    margin-left: 4em;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    > a {
      display: flex;
      height: 100%;
      padding: 0 0.7em;
      border-left: 1px solid $accent;
      align-items: center;

      background-color: saturate($header-background, 10%);
      color: $neutral;
      text-decoration: none;
      transition: ease-in 0.3s;
      > p {
        margin: 0;
      }
    }
    > a:last-of-type {
      border-right: 1px solid $accent;
    }
    > a:hover {
      background-color: darken($color: $header-background, $amount: 10%);
    }
    > a:visited {
      color: lighten($color: $neutral, $amount: 10%);
    }
  }

  > .profile-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }
}

.profile-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: saturate($color: $header-background, $amount: 10%);
  height: 100%;

  border-left: 1px solid lightgrey;
  padding-right: 1em;
  transition: ease-in 0.3s;

  &:hover {
    background-color: desaturate($color: $header-background, $amount: 80%);
    > .dropdown-icon {
      background-color: saturate($color: $header-background, $amount: 50%);
    }
  }
  &.bar-hidden {
    visibility: hidden;
  }

  > .dropdown-icon {
    display: flex;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: bolder;
    font-size: larger;
    width: 2rem;
    height: 2rem;
    margin: 0 0.5em;

    border-radius: 0.9em;
    box-shadow: 0 0 0.09em #888888;
    background-color: saturate($color: $header-background, $amount: 20%);

    > div {
      margin: auto;
    }
  }
  > .profile-name {
    margin-right: 1em;
    > h2 {
      margin-top: 0;
      margin-bottom: 0;
      @media (max-width: 700px) {
        font-size: medium;
      }
    }
  }
  > .profile-picture {
    height: 2em;
    width: 2em;
    border-radius: 0.8em;
  }
}

.profile-dropdown-menu {
  position: absolute;
  top: -10em;
  right: 0;
  display: flex;
  flex-direction: column;

  border: 1px solid $border-main;

  &.menu-hiding {
    animation: slide-out 1s;

    @keyframes slide-out {
      from {
        top: 0em;
      }
      to {
        top: -10em;
      }
    }
  }

  > .dropdown-bar {
    display: flex;
    height: 2em;
    align-items: center;
    padding-left: 1em;

    background-color: $header-background;
    color: $main-text;

    &:hover {
      background-color: desaturate($color: $header-background, $amount: 80%);
    }

    h4 {
      margin: 0;
    }
    a {
      text-decoration: none;
    }
    > a:visited {
      color: lighten($color: $main-text, $amount: 10%);
    }
  }
  > .profile-bar {
    border-top: 1px solid $border-subtle;
    border-left: 0;
    padding: 0.3em 0;
    padding-right: 1em;
  }
}

.profile-dropdown-menu.menu-dropped {
  position: absolute;
  top: 0em;
  display: flex;
  flex-direction: column;

  animation: slide-in 1s;

  @keyframes slide-in {
    from {
      top: -10em;
    }
    to {
      top: 0em;
    }
  }
}
