@import "./Colours.scss";

.header-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  height: 3em;
  border-bottom: 1px solid darkslategrey;

  background-color: $header-background;

  > .links {
    margin-left: 4em;
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    > a {
      display: flex;
      height: 100%;
      padding: 0 0.7em;
      border-left: 1px solid lightgrey;
      align-items: center;

      background-color: desaturate($header-background, 20%);
      color: $sub-text;
      text-decoration: none;
      transition: ease-in 0.3s;
      > p {
        margin: 0;
      }
    }
    > a:last-of-type {
      border-right: 1px solid lightgrey;
    }
    > a:hover {
      background-color: darken($color: $header-background, $amount: 10%);
    }
    > a:visited {
      color: lighten($color: $sub-text, $amount: 10%);
    }
  }

  > .profile-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: desaturate($color: $header-background, $amount: 10%);
    height: 100%;

    border-left: 1px solid lightgrey;
    padding-right: 1em;
    transition: ease-in 0.3s;

    &:hover {
      background-color: desaturate($color: $header-background, $amount: 80%);
    }

    > .dropdown-icon {
      display: flex;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      font-weight: bolder;
      font-size: larger;
      width: 2rem;
      height: 2rem;
      > div {
        margin: auto;
      }
    }
    > .profile-name {
      margin-right: 1em;
      > h2 {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
    > .profile-picture {
      height: 2em;
      width: 2em;
      border-radius: 0.8em;
    }
  }
}
