.item-box {
  display: flex;
  flex-direction: column;
  $item-box-padding: 0.3rem;

  width: 10em;
  height: 15em;
  margin: 2em 1em;
  border: 0;
  background-color: $main-background;
  box-shadow: 0.2em 0.1em 0.8em -0.3em $main-background;
  text-decoration: none;
  color: $sub-text;

  &:hover {
    background-color: darken($main-background, 5);
  }

  &:focus {
    background-color: darken($main-background, 10);
    box-shadow: 0.2em 0.1em 0.8em -0.3em $sub-text inset;
  }

  > .item-image {
    margin: 0.3em;
    width: 9.4em;
    height: 6em;
    overflow: hidden;
    > img {
      display: flex;
      background-color: lightcyan;
      height: auto;
      width: inherit;
    }
  }
  > .item-title {
    height: 1.5em;
    margin: 0;
    padding: 0.1em $item-box-padding;
    padding-bottom: 0.1em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > .item-desc {
    margin: 0;
    padding: 0.1em $item-box-padding;
    flex-grow: 0;
    height: 5.4em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.item-grid {
  display: grid;
  width: auto;
  background-color: $sub-background;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    :nth-child(n + 4) {
      display: none;
    }
  }

  @media (min-width: 600px) and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    :nth-child(n + 10) {
      display: none;
    }
  }
  @media (min-width: 1000px) and (max-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    :nth-child(n + 16) {
      display: none;
    }
  }
  @media (min-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    :nth-child(n + 22) {
      display: none;
    }
  }
  grid-auto-flow: row;

  justify-items: center;
}
