.item-box {
  display: flex;
  flex-direction: column;
  $item-box-padding: 1rem;

  width: 10em;
  margin: 2em 1em;
  border: 1px solid lightgray;
  background-color: $main-background;
  > .item-image {
    padding: 0.3em;
    width: auto;
    height: 6em;
    > img {
      display: flex;
      background-color: lightcyan;
      height: 6em;
    }
  }
  > .item-title {
    margin: 0;
    padding: 0.3em $item-box-padding;
    padding-bottom: 0.1em;
  }
  > .item-desc {
    margin: 0;
    padding: 0.3em $item-box-padding;
  }
}

.item-grid {
  display: grid;
  width: auto;
  background-color: $sub-background;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    :nth-child(n + 4) {
      display: none;
    }
  }

  @media (min-width: 600px) and (max-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    :nth-child(n + 10) {
      display: none;
    }
  }
  @media (min-width: 1000px) and (max-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    :nth-child(n + 16) {
      display: none;
    }
  }
  @media (min-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    :nth-child(n + 22) {
      display: none;
    }
  }
  grid-auto-flow: row;

  justify-items: center;
}
